.crosshub-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20000;
  opacity: 0;
  visibility: hidden;
  padding: 1px;
  text-align: left;
  white-space: normal;
  border-radius: 4px;
  transition: opacity 0.1s linear, visibility 0.1s linear;
}

.crosshub-tooltip.is-visible {
  visibility: visible;
}

.crosshub-tooltip {
  background-color: #fefbf1;
  border: 1px solid #d1d2d3;
}

.crosshub-tooltip .crosshub-tooltip--arrow-container {
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0px;
  z-index: -1;
}

.crosshub-tooltip .crosshub-tooltip--arrow {
  position: absolute;
  display: block;
  height: 6px;
  width: 12px;
  background: #fefbf1;
}

.crosshub-tooltip .crosshub-tooltip--arrow:before,
.crosshub-tooltip .crosshub-tooltip--arrow:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.crosshub-tooltip .crosshub-tooltip--arrow:before {
  color: #d1d2d3;
  border-width: 7px;
}

.crosshub-tooltip .crosshub-tooltip--arrow:after {
  color: #fefbf1;
  border-width: 6px;
}

.crosshub-tooltip.is-up .crosshub-tooltip--arrow, .crosshub-tooltip.is-down .crosshub-tooltip--arrow {
  left: 50%;
}

.crosshub-tooltip.is-up .crosshub-tooltip--arrow:before, .crosshub-tooltip.is-down .crosshub-tooltip--arrow:before {
  left: 50%;
  margin-left: -7px;
}

.crosshub-tooltip.is-up .crosshub-tooltip--arrow:after, .crosshub-tooltip.is-down .crosshub-tooltip--arrow:after {
  left: 50%;
  margin-left: -6px;
}

.crosshub-tooltip.is-up .crosshub-tooltip--arrow-container {
  bottom: -6px;
}

.crosshub-tooltip.is-up .crosshub-tooltip--arrow {
  top: -6px;
}

.crosshub-tooltip.is-up .crosshub-tooltip--arrow:before {
  top: 100%;
  border-top-color: #d1d2d3;
}

.crosshub-tooltip.is-up .crosshub-tooltip--arrow:after {
  top: 100%;
  border-top-color: #fefbf1;
}

.crosshub-tooltip.is-down .crosshub-tooltip--arrow-container {
  top: -6px;
}

.crosshub-tooltip.is-down .crosshub-tooltip--arrow {
  bottom: -6px;
}

.crosshub-tooltip.is-down .crosshub-tooltip--arrow:before {
  bottom: 100%;
  border-bottom-color: #d1d2d3;
}

.crosshub-tooltip.is-down .crosshub-tooltip--arrow:after {
  bottom: 100%;
  border-bottom-color: #fefbf1;
}

.crosshub-tooltip.is-left .crosshub-tooltip--arrow-container, .crosshub-tooltip.is-right .crosshub-tooltip--arrow-container {
  top: 0;
  bottom: 0;
  width: 6px;
  height: auto;
}

.crosshub-tooltip.is-left .crosshub-tooltip--arrow, .crosshub-tooltip.is-right .crosshub-tooltip--arrow {
  width: 6px;
  height: 12px;
  top: 50%;
}

.crosshub-tooltip.is-left .crosshub-tooltip--arrow:before, .crosshub-tooltip.is-right .crosshub-tooltip--arrow:before {
  top: 50%;
  margin-top: -7px;
}

.crosshub-tooltip.is-left .crosshub-tooltip--arrow:after, .crosshub-tooltip.is-right .crosshub-tooltip--arrow:after {
  top: 50%;
  margin-top: -6px;
}

.crosshub-tooltip.is-left .crosshub-tooltip--arrow-container {
  right: -6px;
  left: auto;
}

.crosshub-tooltip.is-left .crosshub-tooltip--arrow {
  left: -6px;
}

.crosshub-tooltip.is-left .crosshub-tooltip--arrow:before {
  left: 100%;
  border-left-color: #d1d2d3;
}

.crosshub-tooltip.is-left .crosshub-tooltip--arrow:after {
  left: 100%;
  border-left-color: #fefbf1;
}

.crosshub-tooltip.is-right .crosshub-tooltip--arrow-container {
  left: -6px;
  right: auto;
}

.crosshub-tooltip.is-right .crosshub-tooltip--arrow {
  right: -6px;
}

.crosshub-tooltip.is-right .crosshub-tooltip--arrow:before {
  right: 100%;
  border-right-color: #d1d2d3;
}

.crosshub-tooltip.is-right .crosshub-tooltip--arrow:after {
  right: 100%;
  border-right-color: #fefbf1;
}

.crosshub-tooltip.is-visible {
  opacity: 1;
}

